@model Attendance_Management_System.Models.SignUpViewModel
@{
}

<link href="~/css/SignUp.css" rel="stylesheet" />
<form method="post" action="SignUp" onsubmit="return validatePassword()">
    <div class="Container">
        <h2> Company Sign Up </h2><br />

        <div>
            <label>Company Name</label><br />
            <input type="text" class="Company" asp-for="companyName">
        </div><br />

        <div>
            <label>Company Address</label><br />
            <input type="text" class="Address" asp-for="companyAddress">
        </div><br />

        <div>
            <label>Employee Name</label><br />
            <input type="text" class="Name" asp-for="contactPerson">
        </div><br />

        <div>
            <label>Contact Number</label><br />
            <input type="text" class="Number" asp-for="contactNumber">
        </div><br />

        <div>
            <label>User Name</label><br />
            <input type="text" class="UserName" asp-for="userName">
        </div><br />

        <div>
            <label>Password</label><br />
            <input type="password" class="Password" id="P1" asp-for="password">
        </div><br />

        <div>
            <label>Confirm Password</label><br />
            <input type="password" class="cPassword" id="P2">
        </div><br />

        <div>
            <label style="display: none;">Status</label>
            <input type="text" class="Status" style="display: none;" value="1" asp-for="status">
        </div>

        <input type="submit" value="SIGN UP" />
    </div>
    
</form>
<script>
    function validatePassword() {
        var password = document.getElementById("P1").value;
        var confirmPassword = document.getElementById("P2").value;

        if (password !== confirmPassword) {
            alert("Passwords do not match");
            return false; // Prevent the form from submitting
        }

        return true; // Allow the form to submit
    }
</script>