@*@model Attendance_Management_System.Models.YearlyReportViewModel*@
@model List<YearlyReportViewModel>
@{
}
<center>
    <caption><h3>Yearly Report</h3></caption>
    <table border="1" cellpadding="5" cellspacing="15">
        <tr>
            <th>SId</th>
            <th>Employee Name</th>
            <th>Total Attendance</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SId</td>
                <td>@item.EmployeeName</td>
                <td>@item.Count</td>
            </tr>
        }
    </table>
</center>