.Container {
    width: 1000px;
    height: 400px;
    position: relative;
}

.Left {
    width: 500px;
    height: 400px;
    position: absolute;
}


.Right {
    width: 500px;
    height: 400px;    
    position: absolute;
    margin-left: 500px;
}

