.Container {
    width: 600px;
    height: 575px;
    position: relative;
    color: #0d5190;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-weight: bold;*/
    border-color: #0d5190;
    border-style: solid;
    padding-left: 80px;
    padding-top: 50px;
    margin-left: 250px;
    border-width: 5px;
}

input[type="submit"] {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #50b952;
    color: #0d5190;
    font-weight: bold;
    border: none;
    margin-left: 300px;
}

select {
    width: 230px;
    height: 40px;
    font-size: 15px;
    border-color: #50b952;
    border-width: 2px;
    color: #0d5190;
    margin-left: 110px;
}

input[type="text"] {
    border-color: #50b952;
    border-style: double;
}

input[type="date"] {
    font-size: 15px;
    border-color: #50b952;
    color: #0d5190;
    border-style: double;
}

input[type="time"] {
    font-size: 15px;
    border-color: #50b952;
    color: #0d5190;
    border-style: double;
}

.Name {
    margin-left: 40px;
}

.Count {
    margin-left: 80px;
}

.Available {
    margin-left: 103px;
}

.Id {
    margin-left: 97px;
}