@model Attendance_Management_System.Models.PrivilageViewModel
@{
}
<link href="~/css/Privilage.css" rel="stylesheet" />
<form method="post" action="Privilage">    
    <div class="Container">
        <h2>Privilege</h2><br />
            Privilage Name<input type="text" asp-for="name"/><br /><br />
            <input type="submit" value="SUBMIT"/>
    </div>
</form>
